<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Список сохраненных шаблонов:</h1>
<form id="form_template"
      action="/index"
      method="post"
      enctype="multipart/form-data">
    <ul>
        {% for name in names %}
            <div class="one-line">
                <label>{{ name }}</label>
            <a href="/index/{{ name }}"
               id="submit_form">{{ name }}</a>
            </div>
        {% endfor %}
    </ul>
</form><br><br>

<form id="form_data"
      action="/index"
      method="get">
    <input type="submit"
           value="На главную">
</form>



<script>
    console.log("Script work")
    document.getElementById('submit_form')
        .addEventListener('click', function() {
        document.getElementById('form_template').submit();
    });
</script>

</body>
</html>